.App {
  text-align: left;
}

.Tab {
  text-align: left;
  margin: 10px;
  font-size: calc(3vmin);
}

.Category {
  max-width: 50vmin;
}

.Learner-button {
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.user_input {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.wordcloud img {
  width: 80vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
