<form method="POST" action="/id">
    <label for="user_id">はてなID:</label>
    <input type="text" id="user_id" name="user_id">
    <input type="submit" value="送信">
</form>
{% if hatena_id == ""  %}
    はてなIDを入力してください。
{% else %}
    {{hatena_id}} さん　が "あとで読む" とした記事から、次に読む記事をオススメします。
    <form method="POST" action="/learn">
        <input type="submit" id="learn" value="学習する">
    </form>
{% endif %}

{% if entries %}
<ul class="atodeyomu-group">
    <table border="1">
        <tr>
            <th>タイトル</th>
            <th>興味ありそう度</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td><a href="{{ entry['link'] }}">{{ entry['title'] }}</a></td>
            <td> {{ entry['score'] }} </td>
        </tr>
        {% endfor %}
    </table>
</ul>
{% endif %}


<h2>WordCloudを作成する</h2>
<p>WordCloudを作成して、あなたの興味を可視化しよう</p>

<form method="POST" action="/wordcloud">
    <input type="submit" id="updateWordCloud" value="画像を更新する">
</form>
{% if image %}
<img src="data:;base64,{{ image }}" />
{% endif %}